{% extends "base.html" %}
{% block title %}Bill列表{% endblock %}
{% block content %}
<div class="jumbotron" id="error">
{% if info %}
   <div class="alert alert-info" role="alert">
      <strong>{{ info }}</strong>
  </div>
{% endif %}
</div>
<div class="jumbotron" id="member">
{% if bill_list %}
 <table class="table">
   <thead>
     <tr><td>#</td><td>client名字</td><td>travel date</td><td>send_wether</td><td>send_plan</td><td>comment</td></tr>
   </thead>
   <tbody>
  {% for bill in bill_list %}
  	<tr>
    <td>{{bill.id}}</td>
  	<td>{{bill.person.name}}</td>
  	<td>{{bill.travel_date}}</td>
  	<td>{{bill.is_send_wether}}</td>
  	<td>{{bill.is_send_plan}}</td>
    <td>{{bill.comment}}</td>
  	</tr>
  {% endfor %}
 </tbody>
 </table>
 {% endif %}
 
 </div>
 
{% endblock %}