{% extends "base.html" %}
{% block title %}Bill列表{% endblock %}
{% block content %}
<div class="jumbotron" id="error">
{% if info %}
   <div class="alert alert-info" role="alert">
      <strong>{{ info }}</strong>
  </div>
{% endif %}
</div>
<div class="jumbotron" id="member">
{% if bill_list %}
 <table class="table">
   <thead>
     <tr><td>#</td><td>客户姓名</td><td>旅游出发日期</td><td>发送天气提醒</td><td>发送行程计划</td><td>订单备注</td></tr>
   </thead>
   <tbody>
  {% for bill in bill_list %}
  	<tr>
    <td>{{bill.id}}</td>
  	<td>{{bill.person.name}}</td>
  	<td>{{bill.travel_date}}</td>
  	<td>{{bill.is_send_wether}}</td>
  	<td>{{bill.is_send_plan}}</td>
    <td>{{bill.comment}}</td>
  	</tr>
  {% endfor %}
 </tbody>
 </table>
 {% endif %}
 
 </div>
 
{% endblock %}