{% extends "base_without_bar.html" %}
{% block head %}
<style type="text/css">
  #form-div {
    width: 80%;
    left: 10%;
    float: none;
    margin-left: 0px;
  }
  </style>
{% endblock %}
{% block title %}Custome Form{% endblock %}

{% block service %} {{service_phone}} {% endblock %}
{% block content %}

  <form class="form" id="form1" action="" method="POST">
   {% csrf_token %}
    <input type="hidden" name="from_site" value="{{from_site}}">
    <input type="hidden" name="service_phone" value="{{service_phone}}">
    <div id="form-main">
       <div id="form-div">
        
      <p class="place">
        <input name="place" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="目的地" id="place" required="true"/>
      </p>

       <p class="date_begin">
        <input name="date_begin" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="出发时间" id="date_begin" required="true"/>
      </p>

      <p class="day">
        <input name="day" type="number" class="feedback-input" id="day" placeholder="游玩天数" required="true"/>
      </p>

      <p class="num">
        <input name="num" type="number" class="feedback-input" id="num" placeholder="人数" required="true"/>
      </p>
      
      <p class="text">
        <textarea name="comment" class="validate[required,length[6,300]] feedback-input" id="comment">其他需求,如酒店,预算,旅游偏好,带有儿童老年人等信息</textarea>
      </p>
         
      <div class="submit">
        <input value="下一步" id="button-blue" data-toggle="modal" data-target="#myModal"/>
        <div class="ease"></div>
      </div>
     </div>
    </div>
  
      <!---second form -->
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <div class="modal-body">
        <div class="well">
             <fieldset>
               <div id="legend" class="">
                 <legend class="">请您留下联系方式</legend>
               </div>

               <div class="control-group">

                     <!-- Text input-->
                     <label class="control-label">姓名:</label>
                     <div class="controls">
                       <input type="text" placeholder=""  class="form-control" name='clientName' required="true">
                       <p class="help-block"></p>
                     </div>
                   </div>

               <div class="control-group">

                     <!-- Text input-->
                     <label class="control-label">联系电话:</label>
                     <div class="controls">
                       <input type="text" placeholder=""  class="form-control" name='phone' required="true">
                       <p class="help-block"></p>
                     </div>
                   </div>

             <div class="control-group">
                   <!-- Text input-->

                   <label class="control-label" >邮箱,QQ或其他联系方式:</label>
                   <div class="controls">
                     <input type="text"  class="form-control" name="email" required="true">
                     <p class="help-block"></p>
                   </div>
                 </div>
              
                 <div class="control-group">
                   <!-- Button -->
                   <div class="controls">
                     <button class="btn btn-primary">提交</button>
                   </div>
                   </div>

             </fieldset>
        </div>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
      </div>
    </div>
  </div>
 </div>
</div>
<!---second form -->

    </form>
 
{% endblock %}

