{% extends "base.html" %}
{% block title %}Person列表{% endblock %}
{% block content %}
<div class="jumbotron" id="error">
{% if info %}
   <div class="alert alert-info" role="alert">
      <strong>{{ info }}</strong>
  </div>
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</div>
<div class="jumbotron" id="member">
 <form role="form" action="{% url 'add_bill' %}" method="post">
 {% csrf_token %}
{% if person_list %}
 <table class="table">
   <thead>
     <tr><td>#</td><td>电话</td><td>名字</td><td>电子邮箱</td><td>备注</td><td>勾选</td></tr>
   </thead>
   <tbody>
  {% for person in person_list %}
      <tr>
      <td>{{person.id}}</td>
      <td>{{person.phone}}</td>
      <td>{{person.name}}</td>
      <td>{{person.email}}</td>
    <td>{{person.comment}}</td>
    <td><input type="radio" value="{{person.id}}" name="person_id"></td>
      </tr>
  {% endfor %}
 </tbody>
 </table>
 {% endif %}
 
 </div>
<div class="col-sm-6 col-md-6" id="item">
  <div class="thumbnail">
      <div class="caption">
       <p>勾选上面的客人，创建行程提醒任务</p>
        <div class="form-group">
            <label>行程提醒任务备注: </label>
            <input type="text" class="form-control" name="comment" /> 
        </div>
        <div class="form-group">
            <label>旅游出发日期: </label>
            <input type="date" name="travel_date" class="form-control">
        </div> 
        <div class="form-group">
            <label>旅游目的地:</label>
            <select name='city' class="form-control">
             <option value="Paris,France">巴黎</option>
             <option value="Avignon,France">阿维尼翁</option>
             <option value="Tour,France">图尔</option>
             <option value="Reims,France">兰斯</option>
             <option value="Marseille,France">马赛</option>
              <option value="Nice,France">尼斯</option>
              <option value="Bordeaux,France">波尔多</option>
              <option value="Roman,Italy">罗马</option>
              <option value="Milan,Italy">米兰</option>
              <option value="Geneva,Switzerland">日内瓦</option>
              <option value="Prague,Czekh">布拉格</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="提交任务" class="btn btn-primary"/>
        </div>
       </div>
   </div>
</div>
</form>
<div class="col-sm-6 col-md-3" id="item">
  <div class="thumbnail">
      <div class="caption">
         <form action="{% url 'add_person' %}" method="post">{% csrf_token %}
           {{ form.as_p }}
            <input type="submit" value="添加客户"  class="btn btn-primary" />
         </form>
      </div>
  </div>
</div>  
 
{% endblock %}