{% extends "base.html" %}
{% block title %}Script function page{% endblock %}
{% block content %}
<div class="jumbotron">	
</div>
<div class="jumbotron">
<p>在填写网址的时候注意，要包含http,https,  所有论坛的帖子都通用</p>
<form method="get" action="{% url 'add_reading' %}" target="_blank">
  {% csrf_token %}
  <input type="url" placeholder="帖子网址" class="form-control" name='url' required="true"/>
  <input type="number" placeholder="需要增加阅读量(0-1000)" class="form-control" name='num' required="true"/>
  <br/>
  <input type="submit" value="提交" class="btn btn-primary" />
</form>
</div>
{% endblock %}