{% extends "base.html" %}
{% block title %} 上传图片 {% endblock %}
{% block content %}
<div class="jumbotron" id="info">

</div>
<div class="jumbotron">
<form method="post" action="http://up.qiniu.com" enctype="multipart/form-data" id="upload">
{% csrf_token %}
   <label>第一步: 选择文件</label>
  <input type="file" name="file" id="file" onchange="getName(this.value)"/>
  <br/>
  <input type="hidden" name="token" id="token"  value="" />
  <label for="key">第二步 :设置路径前缀并点击取得权限 :</label>
    <input type="text" class="form-control" name='key' id="key" required="true"/>
     <p class="help-block">路径前缀可以用来分类文件，例如： image/jpg/your-file-name.jpg</p>
   <label>第三步 : </label>
   <p></p>
  <input type="submit" value="提交" class="btn btn-primary" id="send" disabled="True" />
  <p></p>
</form>
<button id="getToken" >取得权限</button>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
function getName(file_name) {
    l = file_name.split("\\");
    file_name = l[l.length- 1];
    $("#key").val(file_name);
}

$(document).ready(function () {
  
  $("#getToken").click(function () {
    $.getJSON("/create_qiniu_token", {"key": $("#key").val()}, function(result) {
        $("#token").val(result["token"]);
        $("#key").val(result["key"]);
        $("#send").attr("disabled", false);
        $("#postPic").attr("hidden", false);
        $("#edit").attr("hidden", false);
      });
  });

    $("#upload").on("submit", function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
        	url: "http://up.qiniu.com",
        	type: "POST",
        	data: formData,
        	cache: false,
        	contentType: false,
        	processData: false, 
        	success: function (data) {
        	      var  url = '<br /><a href="/download_pic" target="_blank" > 水印制作 </a> ';
        	      var text = '<div class="alert alert-success" role="alert" id="info">上传成功，图片名字为：' +   data["key"] + url + ' </div>';
                   $("#info").append(text);
        	},
        	complete: function(jXHR, textStatus, errorThrown) {
        	   if (jXHR.status != 200) {
        	       var text = '<div class="alert alert-danger" role="alert" id="info">上传失败 </div>';
                     $("#info").append(text);
                   }
        	}
        });
    });

});
</script>
{% endblock %}
